/*The screen becomes the below color when the screen is smaller than 500*/

@media screen and (min-width: 250px) {
  body {
    background: purple;
  }
}

@media screen and (min-width: 500px) {
  body {
    background: yellow;
  }
}

@media screen and (min-width: 600px) {
  body {
    background: powderblue;
  }
}

@media screen and (min-width: 750px) {
  body {
    background: turquoise;
  }
}

@media screen and (min-width: 900px) {
  body {
    background: pink;
  }
}
