table {
  border-collapse: collapse; /*This removes individual borders and makes it one*/
  font-size: ex;
}

.table_head {
  background: aquamarine;
}

.center {
  text-align: center;
}

th,
td {
  border: solid 4px pink;
  margin: 10px;
  text-align: left;
  padding: 20px;
}
