body {
  background: darkslategrey;
  color: white;
  font-family: Verdana, sans-serif;
  padding: 5px;
  line-height: 3rem;
}

em {
  color: red;
}
#my_practise {
  color: burlywood;
}
.my_super_class {
  color: pink;
}
