* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    color: #000;
}

#logo a {
    float: left;
    text-decoration: none;
    color: #000;
}

#logo a:hover {
    border-bottom: 2px solid black;
}

header {
    background-color: skyblue;
    width: 100%;
    min-height: 80px;
    padding: 1%;
}

header ul {
    list-style-type: none;
    float: right;
}

header ul li {
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    margin: 0 auto;
}

header ul li a {
    text-decoration: none;
    padding-right: 10px;
    color: black;
}

header ul li a:hover {
    background-color: pink;
    font-family: cursive;
}

#past,
#present,
#future,
#contacts {
    height: 600px;
    width: 100%;
    line-height: 1.6rem;
}

#past {
    background-color: rgba(255, 0, 0, 0.1);
    background: url("https://source.unsplash.com/weekly?water") no-repeat fixed center center/cover;
}

#present {
    background: lavender;
}

#future {
    background: url("https://source.unsplash.com/random?mountain") no-repeat fixed center center/cover;
}

h2 {
    padding-bottom: 30px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 25px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
}

footer {
    text-align: center;
    background-color: skyblue;
    width: auto;
    min-height: 80px;
    padding: 1%;
}

img {
    width: 300px;
    float: left;
    margin: 0 20px 10px 0;
    border-radius: 10px;
}